---
    interface Props {
      frontmatter: {
        title: string;
        date: string;
        description: string;
      };
      url: string;
    }

    const { frontmatter, url } = Astro.props;
    const { title, date, description } = frontmatter;
    ---

    <a href={url}>
      <h2>{title}</h2>
      <p>{date}</p>
      <p>{description}</p>
    </a>
